<div class="container">
  <div class="row name">
    <div class="col-md-2 col-xs-4 photo">
      <%= image_tag "me.webp", class: 'me pull-right', alt: 'me' %>
    </div>
    <div class="col-md-5 col-xs-8 info">
      <h1>Piotr Jaworski</h1>
      <h3>Ruby &amp; JavaScript developer</h3>
    </div>
  </div>
  <div class="email row">
    <div class="col-md-2 col-xs-4">
      <p class="pull-right">email:</p>
    </div>
    <div class="col-md-4 col-xs-8">
      <p><%= mail_to "piotrek.jaw@gmail.com", "piotrek.jaw[at]gmail.com" %></p>
    </div>
  </div>

  <div class="social row">
    <div class="col-md-offset-2 col-md-10 col-xs-offset-1 col-xs-10">
      <a href="http://github.com/piotrjaworski" target="_blank"><%= image_tag 'git.png', id: 'git', alt: 'git' %></a>
      <a href="https://www.linkedin.com/pub/piotr-jaworski/9b/9b1/846" target="_blank"><%= image_tag 'linked.png', id: 'linked', alt: 'linked' %></a>
      <a href="http://www.lastfm.pl/user/Neologis" target="_blank"><%= image_tag 'last.png', id: 'last', alt: 'last' %></a>
      <a href="http://instagram.com/piotrekjaworski" target="_blank"><%= image_tag 'insta.png', id: 'insta', alt: 'insta' %></a>
    </div>
  </div>

  <div class="info row">
    <div class="col-md-2 col-xs-1">
    </div>
    <div class="col-md-6 col-xs-10">
      <h1>About:</h1>
      <p>
        Hello! My name is Piotr Jaworski, <%= Date.today.year - 1993 %> years old guy living in Warsaw, Poland.
        Sports fan, mainly volleyball and football. I love to travel! Software development and programming are my passions.
        You can find something more about me on my local media pages above.
      </p>
      <hr />

      <h1>Talks:</h1>
      <% @talks.each do |talk| %>
        <h2><%= talk['title'] %></h2>
        <h4><%= talk['place'] %></h4>
        <h5>
          <% if !!talk['link'] %>
            <a target="_blank" href="<%= talk['link'] %>">Video | </a>
          <% end %>
          <%= pdf_tag(talk['slides'], 'Download slides - PDF file') %></h5>
        <p><%= talk['description'] %></p>
      <% end %>
      <hr />

      <h1>Publications:</h1>
      <% @tutorials.each do |tutorial| %>
        <h2><a target="_blank" href="<%= tutorial['link'] %>"><%= tutorial['title'] %></a></h2>
        <p><%= tutorial['description'] %></p>
      <% end %>
      <hr />

      <h1>Open Source:</h1>
      <% @opensource.each do |item| %>
        <h2><a target="_blank" href="<%= item['link'] %>"><%= item['title'] %></a></h2>
        <p><%= item['description'] %></p>
      <% end %>
      <hr />

      <h1>Education:</h1>
      <h2>Applied Computer Science</h2>
      <p>Master of Engineering (2016 - 2017)</p>
      <p>Bachelor of Engineering (2012 - 2016)</p>
      <p><a href="http://www.agh.edu.pl/" target="_blank">AGH University of Science and Technology in Cracow, Poland</a></p>
      <hr />
    </div>
    <div class="col-md-4 skills">
      <h1>Skills:</h1>
      <h3>Backend:</h3>
      <ul>
        <% @backend.each do |item| %>
          <li><%= item %></li>
        <% end %>
      </ul>
      <h3>Frontend:</h3>
      <ul>
        <% @frontend.each do |item| %>
          <li><%= item %></li>
        <% end %>
      </ul>
      <h3>Other:</h3>
      <ul>
        <% @other.each do |item| %>
          <li><%= item %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
